* {
  margin: 0;
  box-sizing: border-box;
}


body {
 font-size: 1.6rem; 
 background: #374798;
 line-height: 1.6;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #946B2D;
}

/*Navigation Component*/

.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: #000863
}

.brand {
  text-transform: uppercase;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem; 
}

.hamburger div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background-color: #946B2D;
  transition: 0.4s ease-in;
}

.hamburger {
  cursor: pointer;
  display: none;
  }

  /*footer*/
  footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 2.0rem;
    margin-top: 6rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  iconActive {
    color:#374798;
  }
  
  footer a {
    color: var(--color-bg);
  }
  
  .footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
  }
  
  .permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
  }
  
  .footerIcons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footerIcons a {
    padding: 0.8rem;
    border-radius: 0.5rem;
    display: flex;
    border: 2px solid transparent;
  }
  
  .footerIcons a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color:#946B2D
  }
  
  /* .footerCopyright {
    margin-bottom: 10rem;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%
  } */


  /*Screen sizes*/

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navMenu {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background: #000863;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

  
  }

  .navActive {
    transform: translateX(0);
  }

  /* Toggler animation */

  .toggle .line1{
    transform: rotate(-45deg) translate(-8px, 4px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-8px, -4px);
  }

  /*animation tutorial source: https://www.youtube.com/watch?v=ZJZVCg2lXSc */



  