

* {
	margin: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
}

body {
	font-size: 1.6rem;
	background: #374798;
	height: 100;
	font-family: 'Lato', sans-serif;
}

h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	color: #946b2d;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #946b2d;
	
}

/*Porfolio*/

.portfolioContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 20px;
}

.portfolioContainer h1 {
	color: #946b2d;
	font-family: 'Times New Roman', Times, serif;
	margin: 10px;
}

.portfolioContainer h3 {
	color: #D3D3D3;
	padding: 10px;
}

.project {
	margin: 20px 0;
}

.project img {
	width: 800px;
	height: 600px;
	object-fit: cover;
	box-shadow: 0  4px 8px rgba(0.0.0.0.3);
	border-radius: 6px;
	border: 5px solid #946b2d;
	transition: filter 0.3s ease;
}

.project:hover img  {
	filter: brightness(1.2)
}

/*Contact Form*/
.contact-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	margin-top: 40px;
	text-align: center;
}

.contact-container li  {
	font-size: 5rem;
	padding: 3px;
}

.contact-container a {
	margin: 10px;
}

.contact-container a:hover {
	color: #0073b1;
}

.contact-container svg {
	font-size: 4rem;
	margin-right: 8px;
}

/*About Component*/

.aboutContainer {
	text-align: center;
}

.aboutContainer h1 {
	text-align: center;
	margin: 10px;
	color: #946b2d;
}

.aboutContainer img {
	border-radius: 5px;
	border: 4px solid #9462bd;
}



.aboutContainer p{
	text-align: center;
	font-size: 2rem;
	margin: 3px;
}

/*Navigation Component*/

.nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 8vh;
	background: #000863;
}

.brand {
	text-transform: uppercase;
}

.navMenu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 3rem;
	z-index: 2;
}

.hamburger div {
	width: 2.5rem;
	height: 0.2rem;
	margin: 0.4rem;
	background-color: #946b2d;
	transition: 0.4s ease-in;
}

.hamburger {
	cursor: pointer;
	display: none;
	z-index: 2;
}

/*footer*/
footer {
	background: transparent;
	font-size: 2rem;
	width: 100%;
	position: relative;
}

iconActive {
	color: #374798;
}

footer a {
	color: var(--color-bg);
}

.footerIcons {
	display: flex;
	justify-content: center;
	gap: 1rem;
	position: relative;
	width: 100%;
}

.footerIcons a {
	padding: 0.8rem;
	border-radius: 0.5rem;
	display: flex;
	border: 2px solid transparent;
}

.footerIcons a:hover {
	background: transparent;
	color: var(--color-bg);
	border-color: #946b2d;
}

@media screen and (max-width: 768px) {
	.hamburger {
		display: block;
	}
	.navMenu {
		position: fixed;
		top: 7vh;
		right: 0;
		width: 50%;
		height: 93vh;
		background: #000863;
		flex-direction: column;
		transform: translateX(100%);
		transition: 0.5s ease-in;
		z-index: 2;
	}
}

.navActive {
	transform: translateX(0);
}

/* Toggler animation */

.toggle .line1 {
	transform: rotate(-45deg) translate(-8px, 4px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-8px, -4px);
}

/*animation tutorial source: https://www.youtube.com/watch?v=ZJZVCg2lXSc */

/**/
